header{
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px;
}

h1{
    color: aliceblue;
}

.contenido{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 30px;
    padding: 100px;
    margin: 200px;
    
    
}

.contenido p{
    font-size: 20px;
    color: cadetblue;
    
}

footer{
    background-color: black;
    color: aliceblue;
    margin-top: 300px;
    padding: 30px;
}